* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(20, 12, 2);
}

.container {
  width: 800px;
  height: 450px;
  border: 1px dotted white;
  border-radius: 10px;
  background-color: rgb(21, 15, 61);
}

.converter-title {
  color: rgb(235, 54, 54);
  margin: 25px 0;
  text-align: center;
  font-size: 3rem;
  user-select: none;
}

label {
  color: rgb(180, 180, 180);
  display: block;
  font-size: 1.5rem;
  text-align: center;
  user-select: none;
}

.converter-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 130px;
  grid-row-gap: 80px;
  margin-top: 50px;
}

input {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: larger;
  padding: 0 10px;
  margin-top: 4px;
  font-weight: bold;
  cursor: text;
}

#hex {
  text-transform: uppercase;
}

input:focus {
  box-shadow: 3px 3px 6px rgb(255, 255, 255);
}

/* Toast style starts */
.toast {
  position: fixed;
  z-index: 999;
  width: auto;
  padding: 12px;
  top: 3rem;
  right: 1rem;
  background-color: rgb(255, 251, 0);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  color: brown;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.toast::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 0 0 8px;
  width: 6px;
  height: 100%;
  background-color: rgb(255, 72, 0);
}

.toast::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5.6px;
  height: 100%;
  border-radius: 0 8px 8px 0;
  background-color: rgb(255, 72, 0);
}

.toast-animation-in {
  animation: toast-in 0.5s ease-in;
}

.toast-animation-out {
  animation: toast-out 0.5s ease-in;
}

.automatic-toast-delete-animation {
  animation: toast-delete 0.5s ease-in;
}

@keyframes toast-delete {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes toast-in {
  0% {
    right: -10rem;
  }

  100% {
    right: 1rem;
  }
}

@keyframes toast-out {
  0% {
    right: 1rem;
  }

  100% {
    right: -10rem;
  }
}

/* Toast style end */
